/* Área geral da página, onde fica o background secundário*/
.login {
	box-sizing: border-box;
	font-family: 'Monteserrat', sans-serif;
	color: #fff;
	font-size: 2em;
	margin: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(220deg, #9933ff, #80ffff);
	background-size: 400% 400%;
    animation: css-change 11s ease infinite;
}
/* Ajuste de tamanho da área de login */
.login > p {
	padding: 70px 0px 15px 820px;
}
#togglePass{
			color: #333;
			cursor: pointer;
			position: absolute;
			margin-left: 61%;
			margin-top: 10px;
			}
#loginIncorreto {
	position: absolute;
	background-color:  #ff000080;
	border-radius: 10px;
	padding: 5px;
	margin: 0;
	top: 620px;
	left: 47%;
	font-size: 1.2rem;
	font-weight: bold;
}
/* Na página de Login, background primário da página */
.container {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 75%;
	border: 1px solid #fff0;
	background-color: #333;
}
/* Ajuste do texto que marca o Login */
#textoLogin {
	margin-top: 25px;
	margin-left: 48%;
	font-size: 1.4em
}
/* Área onde ficam as caixas de inserção de dados*/
.container > p {
	margin-top: 25px;
	margin-left: 45%;
}
/* Inputs gerais */
.container > input{
	height: 50px;
	width: 600px;
	font-size: 1em;
	margin-bottom: 2%;
	margin-left: 30%;
	border-radius: 10px 20px;
}
/* Input de senha */
.container2 > input {
	height: 50px;
	width: 600px;
	font-size: 1em;
	margin-left: 20%;
	border-radius: 10px 20px;
	position: absolute;
	width: 600px;
	margin-left: 40%;
	margin-bottom: 20px;
}
/* Área de "Esqueci minha senha" */
#forgotPass {
	position: absolute;
	font-size: 0.4em;
	display: inline-block;
	box-sizing: content-box;
	margin: 60px 0px 0px 57%;
	cursor: pointer;
	color: skyblue;
	text-decoration: underline;
	transition: all ease 500ms;
}
#forgotPass:hover {color: #0059b3;}
/* Botão Login */
.login-btn {
	position: relative;
	padding: 20px 70px;
	font-size: 1em;
	background: linear-gradient(220deg, #80ffff, #9933ff);
	margin: 170px 840px 80px 47%;
	color: #fff;
	background-size: 400% 400%;
    animation: css-change 11s ease infinite;
	display: inline-block;
	font-weight: bold;
	border-color: transparent;
	border-radius: 20px 20px;
	transition: all 1s ease;
}
/* Botão de login quando é clicado, focado nele ou mantido o clique */
.login-btn:hover, .login-btn:focus, .login-btn:active {
	cursor: pointer;
	color: #333
}
/* Animação para o texto ficar com outra cor no botão de login */
.login > a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 5px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	margin-bottom: 10px;
	margin-left: 35px;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }
  /* Botão de Login */
 .login > a:hover:after { 
	width: 65px; 
	left: 0; 
  }
  /* Botão para voltar */
.voltar {
	position:absolute;
	top: 140px;
	left: 20px;
	display: inline-block;
	font-size: 1.3rem;
	border-radius: 40px 40px;
	padding: 20px 40px;
	color: #fff;	
	background: #2073c5;
	transition: all 1s ease;
	cursor: pointer;
	text-decoration: none;
}
/* Fim da página de login. Arquivo: index.html*/
@media (max-width:2241px) and (min-width:2010px) {
	.secao{
		margin-left: 35%;
	}
}
@media (max-width: 2009px) and (min-width: 1890px) {
	.secao{
		margin-left:30%;
	}
}
@media (max-width: 1890px) and (min-width: 1350px) {
	.secao{
		margin-left:25%;
	}
}
@media (max-width:1350px) and (min-width:700px) {
	.secao{margin-left: 10%;}
}
@media (max-width: 700px) and (min-width: 0px) {
	.secao{
		display: none;
	}
	#paginaInacessivel{
		position: absolute;
		display: inline-block;
		font-size:1.6rem;
		font-weight:bold;
		color: #fff;
		margin: 10%;
	}

}
/* Animação de mudança de cor gradiente.*/
@keyframes css-change {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
