@import url('https://fonts.google.com/specimen/Montserrat') /* Uma forma de importar fontes diretamente de um arquivo CSS */
* {
	box-sizing: border-box;
}
body{
	margin: 0;
}
.cabecalho {
	height: 80px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	border-bottom: solid 5px #595959;
	background: #333;
	box-sizing: content-box;
}
.logo {
	display: inline-block;
	height: 75px;
}
.logo img {
	height: 100%;
	margin-left: 15px;
}
.menu {
	vertical-align: top;
	height: 80px;
	padding: 25px;
	display: inline-block;	
}
.menu ul {
	padding: 0px;
	margin: 0px 0px 0px 200px;
}
.menu li {
	display: inline-block;
}
.cabecalho a{
	font-size: 1.4em;
	font-weight: 500px;
	text-decoration: none;
	color:  #eee;
}
.menu a {
	display: inline-block;
	padding: 10px;
	padding-right: 25px;
}
.menu a:hover {
	height: 100%;
	background: #77859220;
}
.autenticacao {
	float: right;
	height: 80px;
	margin-right: 0;
	padding: 30px;
}
.botao {
	border-radius: 30px;
	padding: 10px 20px;
	margin: 10px;
}
.destaque {
	background: #ff5e1a; 
}
.destaque:hover {
	background: #e60000;
	color: #fff;
	box-shadow: 2px 2px 1px 1px #ff5e1a50;
}
#config{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
.btn {
	display: inline-block;
	font-size: 1.5em;
	width: 120px;
	text-align: center;
	padding: 25px;
	background: #262626;
	text-decoration: none;
	color: #fff;
	margin-right: 40px;	
	box-shadow: 0 8px 40px 0 #ffd633;
}
.btn:nth-child(1){
	margin-top: 50px;
	margin-left: 620px;
}
.rodape {
	position: absolute;
	height: 80px;
	width: 100%;
	background: #333;
	border-top: solid 5px #595959;
	top: 890px;
	font-family: 'Montserrat', sans-serif;
	box-sizing: content-box;
}
.rodape a {
	display: inline-block;
	color: #fff;
	font-style: italic;
	font-size: 1.2em;
	padding: 10px;
	margin-top: 15px;
	margin-left: 800px;
}
