@import url('https://fonts.google.com/specimen/Montserrat') /* Uma forma de importar fontes diretamente de um arquivo CSS */
* {
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.cabecalho {
	height: 80px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	border-bottom: solid 5px #595959;
	background: #333;
	box-sizing: content-box;
}
.logo {
	display: inline-block;
	height: 75px;
}
.logo img {
	height: 100%;
	margin-left: 15px;
}
.menu {
	vertical-align: top;
	height: 80px;
	padding: 25px;
	display: inline-block;	
}
.menu ul {
	padding: 0px;
	margin: 0px 0px 0px 200px;
}
.menu li {
	display: inline-block;
}
.cabecalho a{
	font-size: 1.4em;
	font-weight: 500px;
	text-decoration: none;
	color:  #eee;
}
.menu a {
	display: inline-block;
	padding: 10px;
	padding-right: 25px;
}
.menu a:hover {
	height: 100%;
	background: #77859220;
}
.autenticacao {
	float: right;
	height: 80px;
	margin-right: 0;
	padding: 30px;
}
.botao {
	border-radius: 30px;
	padding: 10px 20px;
	margin: 10px;
}
.destaque {
	background: #ff5e1a; 
}
.destaque:hover {
	background: #e60000;
	color: #fff;
	box-shadow: 2px 2px 1px 1px #ff5e1a50;
}
#config{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background: #a9a9bc;
	animation: color-change-2x 1s linear alternate both;
}

.btn {
	display: inline-block;
	font-size: 1.5em;
	width: 120px;
	text-align: center;
	padding: 20px;
	background: #333;
	text-decoration: none;
	color: #fff;
	margin-right: 40px;	
	border-radius: 10px 20px;
	box-shadow: 0 8px 40px 0 #ffd633;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	transition: 1s;
}

.btn:nth-child(1){
	margin-top: 22px;
	margin-left: 660px;
}
.btn:hover, .btn:focus{
	background: #ffd633;
	box-shadow: 0 8px 40px 0 #333;
	color: #fff;
}
.rodape {
	position: absolute;
	height: 80px;
	width: 100%;
	background: #333;
	border-top: solid 5px #595959;
	top: 890px;
	font-family: 'Montserrat', sans-serif;
	box-sizing: content-box;
}
.rodape a {
	display: inline-block;
	color: #fff;
	font-style: italic;
	font-size: 1.2em;
	padding: 10px;
	margin-top: 15px;
	margin-left: 800px;
}
.login {
	font-family: 'Monteserrat', sans-serif;
	color: #fff;
	font-size: 2em;
	height: 100%;
	background: #333;
}
.login > p {
	font-size: 3.5rem;
	padding: 80px 0px 15px 860px;
	text-shadow: 2px 2px #80ffff50;
}
.container {
	display: inline-block;
	width: 100%;
	/* border: solid 10px #fff; */
	box-sizing: border-box;
}
.container > p {
	margin-top: 25px;
	margin-left: 750px;
}
.container > input{
	height: 50px;
	font-size: 0.7em;
	margin-left: 700;
	width: 500px;
	border-radius: 10px 20px;
}
.login-btn {
	padding: 5px 60px;
	font-size: 1em;
	background: linear-gradient(220deg, #9933ff, #80ffff);
	margin: 90px 840px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	border-radius: 20px 20px;
	
}
@keyframes color-change-2x {
  0% {
    background: #fff;
  }
  100% {
    background: #3399ff80;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}